page-login {

    .toolbar-background.toolbar-background-md{
        background-color: transparent !important;
    }

    button.botao-voltar{
        color: #fff !important;
        z-index: 20;
    }
    
    ion-content{
        background-image: url("../assets/img/menu.jpg");
        background-size: cover;
    }

    h2{
        text-align: center;
        color: #fff;
    }

    div.spacer{
        height: 20px;
    }

    .item-inner{
        box-shadow: none !important;
        border-bottom: none !important;
    }

    button.facebook{
        background-color: $facebook-blue;
    }

    button.register{
        background-color: color($colors, secondary);
    }

    ion-col.imagem{
        text-align: center;

        img {
            width: 70%;
        }
    }
}
