<!--
  Generated template for the ChamadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Minhas Solicitações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  	<!-- Cards -->

	<ion-card *ngFor="let item of sol" ngClass="success">
		
		<ion-item>
			<ion-avatar item-start>
				<img src="{{ item.solicitante.foto }}">
			</ion-avatar>
			<span class="nome">{{ item.solicitante.nome }}</span>
			<button *ngIf="item.status == 'Aberta'" color="danger" ion-button icon-only small (tap)="deletaSolicitacao(item.id)">
				<ion-icon name="trash"></ion-icon>
			</button><br/>
			<span class="data">{{ item.data }}</span>
		</ion-item>

		<ion-item>

			<img src="{{ item.foto }}">

			<div class="tipo-servico" [ngStyle]="{ 'background-color': item.servico.setor.cor }">
				<span [ngClass]="'icone mdi ' + item.servico.setor.icone "></span> <span class="nome-servico">{{ item.servico.nome }}</span>
			</div>

		</ion-item>

		<ion-card-content>
			<p>{{ item.conteudo }}</p>
		</ion-card-content>

		<ion-row>
			<ion-col>
				<button (tap)="apoiar(item.id, item.solicitante.id)" ion-button icon-left clear small>
					
					<!-- Caso a solicitação não esteja na lista de apoios do usuário, mostrar o ícone "+" -->
					<!-- Caso contrário mostrar o ícone "-" -->
					<ion-icon *ngIf="!meus_apoios.includes(item.id)" name="add"></ion-icon>
					<ion-icon *ngIf="meus_apoios.includes(item.id)" name="thumbs-up"></ion-icon>

					<!-- TODO: Testar se usuário já apoiou essa solicitação e atualizar a palavra Apoiar/Apoiado -->
					<!-- Fazer esse teste quando o resultado ajax chegar e adicionar ou retirar o id do vetor -->
					<div *ngIf="meus_apoios.includes(item.id)">Apoiado </div>
					<div *ngIf="!meus_apoios.includes(item.id)">Apoiar </div>
					<div class="numero" style="margin-left: 3px">({{ apoios[item.id] }})</div>

				</button>
			</ion-col>
			<ion-col>
				<button (tap)="expandirMensagens(item.id)" ion-button icon-left clear small>
					<ion-icon name="text"></ion-icon>

					<!-- Texto dependendo do número de mensagens -->
					<div *ngIf="item.comentarios.length == 0">Sem Resposta</div>
					<div *ngIf="item.comentarios.length == 1">1 Resposta</div>
					<div *ngIf="item.comentarios.length > 1">{{ item.comentarios.length }} Respostas</div>

				</button>
			</ion-col>
		</ion-row>

		<ion-row class="mensagens" id="mensagens_{{ item.id }}">
			<!-- Mensagens  -->

			<div *ngFor="let comentario of item.comentarios" style="width: 100%" class="mensagens_container">

				<!-- Mensagem de um funcionário da Prefeitura  -->
				<ion-item *ngIf="comentario.funcionario_id != null">
					<h2>{{ comentario.funcionario.setor.secretaria.nome }}</h2>
					<p>{{ comentario.comentario }}</p>
					<ion-avatar item-end>
						<img src="assets/img/brasao.png">
					</ion-avatar>					
				</ion-item>

				<!-- Mensagem do Próprio Solicitante  -->
				<ion-item *ngIf="comentario.funcionario_id == null">
					<ion-avatar item-start>
						<img src="{{ item.solicitante.foto }}">
					</ion-avatar>
					<h2>{{ item.solicitante.nome }}</h2>
					<p>{{ comentario.comentario }}</p>
				</ion-item>
				
			</div>

			<!-- Input para novas mensagens  -->
			<!-- Mostrar apenas caso o usuário logado seja o mesmo que criou a solicitação  -->

			<ion-item *ngIf="getSolicitanteId() == item.solicitante.id" >
				<ion-input [(ngModel)]="novos_comentarios[item.id]" type="text" value="" placeholder="Responder"></ion-input>					
				<button (tap)="enviarMensagem($event, item.id)" ion-button item-end icon-left>
					<ion-icon name="send"></ion-icon>
					Enviar
				</button>
			</ion-item>
		</ion-row>

	</ion-card>

</ion-content>
