page-chamados {

    ion-row.mensagens{
		transition: 0.2s all ease-in;
	}

	ion-card {
		
		ion-item{

			div.tipo-servico{
				color: #fff;
				text-align: center;
				width: 100%;
				padding: 7px 10px;
				word-wrap: break-word !important;
				word-break: break-all !important;
				font-size: 14px;
				font-weight: bold;
				border-radius: 15px;
				position: absolute;
				top: 0;
				left: 0;
			}

			span.nome{
				display: block;
				width: 84%;
				float: left;
			}

			span.data{
				display: block;
				float: left;
				font-size: 0.8em;
				color: #555;
				margin-top: -11px;
			}

		}

		.mensagens{
			height: 0;
			overflow: hidden;
			transition: all 0.3s ease-in;
		}

	}

}
