page-apontar {

    #mapa-apontar{
        width: 100%;
        height: 60vh;
        background-image: url("../assets/img/cloud_load.gif");
        background-position: center;
        background-size: cover;
    }

    div.endereco{

        background-color: white;
        padding: 15px 7px;
        text-align: center;

    }

}