<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Mesquita 360º
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<!-- Cards -->

	<ion-card *ngFor="let item of solicitacoes">

		<ion-item>
			<ion-avatar item-start>
				<img src="{{ item.solicitante.foto }}">
			</ion-avatar>
			<h2>{{ item.solicitante.nome }}</h2>
			<p>{{ item.data }}</p>
		</ion-item>

		<img src="{{ item.foto }}">

		<ion-card-content>
			<p>{{ item.conteudo }}</p>
		</ion-card-content>

		<ion-row>
			<ion-col>
				<button ion-button icon-left clear small>
					<ion-icon name="add"></ion-icon>
					<div>Apoiar</div>
				</button>
			</ion-col>
			<ion-col>
				<button (click)="expandirMensagens(item.id)" ion-button icon-left clear small>
					<ion-icon name="text"></ion-icon>

					<!-- Texto dependendo do número de mensagens -->
					<div *ngIf="item.mensagens.length == 0">Sem Resposta</div>
					<div *ngIf="item.mensagens.length == 1">1 Resposta</div>
					<div *ngIf="item.mensagens.length > 1">{{ item.mensagens.length }} Respostas</div>

				</button>
			</ion-col>
		</ion-row>

		<ion-row class="mensagens" id="mensagens_{{ item.id }}">
			<!-- Mensagens  -->

			<div *ngFor="let mensagem of item.mensagens" style="width: 100%" class="mensagens_container">

				<!-- Mensagem de um funcionário da Prefeitura  -->
				<ion-item *ngIf="mensagem.funcionario_id != null">
					<h2>{{ mensagem.funcionario.setor.secretaria.nome }}</h2>
					<p>{{ mensagem.mensagem }}</p>
					<ion-avatar item-end>
						<img src="assets/img/brasao.png">
					</ion-avatar>					
				</ion-item>

				<!-- Mensagem do Próprio Solicitante  -->
				<ion-item *ngIf="mensagem.funcionario_id == null">
					<ion-avatar item-start>
						<img src="{{ item.solicitante.foto }}">
					</ion-avatar>
					<h2>{{ item.solicitante.nome }}</h2>
					<p>{{ mensagem.mensagem }}</p>
				</ion-item>
				
			</div>

			<ion-item >
				<ion-input type="text" value="" placeholder="Responder"></ion-input>					
				<button (click)="enviarMensagem($event, item.id)" ion-button item-end icon-left>
					<ion-icon name="send"></ion-icon>
					Enviar
				</button>
			</ion-item>
		</ion-row>

	</ion-card>

	<!-- FAB -->

	<ion-fab right bottom>
		<button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab><ion-icon name="camera"></ion-icon></button>
			<button ion-fab><ion-icon name="images"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>
  
</ion-content>
