<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Mesquita 360º
		</ion-title>
		<ion-buttons *ngIf="naoEstaLogado()" right>
			<button ion-button icon-left (click)="irParaLogin()">
				<ion-icon name="contact"></ion-icon>
				Entrar
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<!-- Imagem da Lupa -->

	<div id="lupa" *ngIf="loading"></div>

	<!-- Cards -->

	<ion-card *ngFor="let item of config.getSolicitacoes()" ngClass="success">

		<ion-item>
			<ion-avatar item-start>
				<img src="{{ item.solicitante.foto }}">
			</ion-avatar>
			<h2>{{ item.solicitante.nome }}</h2>
			<p>{{ item.data }}</p>
		</ion-item>

		<ion-item>

			<img src="{{ item.foto }}">

			<div class="tipo-servico" [ngStyle]="{ 'background-color': item.servico.setor.cor }">
			    <span [ngClass]="'icone mdi ' + item.servico.setor.icone "></span> <span class="nome-servico">{{ item.servico.nome }}</span>
			</div>

		</ion-item>

		<ion-card-content>
			<p>{{ item.conteudo }}</p>
		</ion-card-content>

		<ion-row>
			<ion-col>
				<button *ngIf="estaLogado()" (tap)="apoiar(item.id, config.getSolicitante().id)" ion-button icon-left clear small>
					
					<!-- Caso a solicitação não esteja na lista de apoios do usuário, mostrar o ícone "+" -->
					<!-- Caso contrário mostrar o ícone "-" -->
					<ion-icon *ngIf="!meus_apoios.includes(item.id)" name="add"></ion-icon>
					<ion-icon *ngIf="meus_apoios.includes(item.id)" name="thumbs-up"></ion-icon>

					<!-- TODO: Testar se usuário já apoiou essa solicitação e atualizar a palavra Apoiar/Apoiado -->
					<!-- Fazer esse teste quando o resultado ajax chegar e adicionar ou retirar o id do vetor -->
					<div *ngIf="meus_apoios.includes(item.id)">Apoiado </div>
					<div *ngIf="!meus_apoios.includes(item.id)">Apoiar </div>
					<div *ngIf="apoios[item.id] == 0 || !apoios[item.id]" class="numero" style="margin-left: 3px">(0)</div>
					<div *ngIf="apoios[item.id] > 0" class="numero" style="margin-left: 3px">({{ apoios[item.id] }})</div>
				</button>
			</ion-col>
			<ion-col>
				<button (tap)="expandirMensagens(item.id)" ion-button icon-left clear small>
					<ion-icon name="text"></ion-icon>

					<!-- Texto dependendo do número de mensagens -->
					<div *ngIf="item.comentarios.length == 0">Sem Resposta</div>
					<div *ngIf="item.comentarios.length == 1">1 Resposta</div>
					<div *ngIf="item.comentarios.length > 1">{{ item.comentarios.length }} Respostas</div>

				</button>
			</ion-col>
		</ion-row>

		<ion-row class="mensagens" id="mensagens_{{ item.id }}">
			
			<!-- Mensagens  -->
			<div *ngFor="let comentario of item.comentarios" style="width: 100%" class="mensagens_container">

				<!-- Mensagem de um funcionário da Prefeitura  -->
				<ion-item text-wrap *ngIf="comentario.funcionario_id != null">
					<h2>{{ comentario.funcionario.setor.secretaria.nome }}</h2>
					<p>{{ comentario.comentario }}</p>
					<ion-avatar item-end>
						<img src="assets/img/brasao.png">
					</ion-avatar>					
				</ion-item>

				<!-- Mensagem do Próprio Solicitante  -->
				<ion-item text-wrap *ngIf="comentario.funcionario_id == null">
					<ion-avatar item-start>
						<img src="{{ item.solicitante.foto }}">
					</ion-avatar>
					<h2>{{ item.solicitante.nome }}</h2>
					<p>{{ comentario.comentario }}</p>
					<button (tap)="apagarComentario(comentario.id, item.id)" *ngIf="estaLogado() && item.solicitante.id == config.getSolicitante().id && !comentario.apagado" item-end ion-button small icon-only color="danger">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item>
				
			</div>

			<!-- Input para novas mensagens  -->
			<!-- Mostrar apenas caso o usuário logado seja o mesmo que criou a solicitação  -->

			<ion-item *ngIf="getSolicitanteId() == item.solicitante.id" >
				<ion-input [(ngModel)]="novos_comentarios[item.id]" type="text" value="" placeholder="Responder"></ion-input>					
				<button (tap)="enviarMensagem($event, item.id)" ion-button item-end icon-left>
					<ion-icon name="send"></ion-icon>
					Enviar
				</button>
			</ion-item>
		</ion-row>

	</ion-card>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingText="Carregando mais solicitações..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<!-- FAB -->

	<ion-fab *ngIf="estaLogado()" right bottom #fab>
		<button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button (tap)="tirarFoto(fab)" ion-fab><ion-icon name="camera"></ion-icon></button>
			<button (tap)="escolherFoto(fab)" ion-fab><ion-icon name="images"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>
  
</ion-content>
