page-home {

	ion-content { 
		
		background-color: #f4f4f4; 

		div#lupa{
			background-image: url("../assets/img/ajax-loader.gif");
			width: 90%;
			height: 100px;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 50%;
			margin-top: -50px;
		}
	
	}

	ion-row.mensagens{
		height: 0;
		transition: 0.2s all ease-in;
	}

	ion-card {

		ion-item{

			div.tipo-servico{
				color: #fff;
				text-align: center;
				width: 100%;
				padding: 7px 10px;
				word-wrap: break-word !important;
				word-break: break-all !important;
				font-size: 14px;
				font-weight: bold;
				border-radius: 15px;
				position: absolute;
				top: 0;
				left: 0;
			}

		}

	}

	.img-resolvida {
		position: absolute;
		top: 5vh;
		width: 40%;
		right: 3vh;
		transform: rotate(-30deg);
	}

}