// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/css/materialdesignicons.min.css";

.mdi:before { font-size: 40px !important; }

////////////////////////////////////////////////// Menu do Aplicativo

ion-menu{

    div.topo_menu{
        height: 30%;
        background-image: url("../assets/img/menu.jpg");
        background-size: cover;
    }

    ion-avatar{
        img{
            width: 90px;
        }
    }

    ion-content{
        background-color: #fff !important;
    }

    ion-avatar{

        img {
            border-radius: 50%;
            margin-top: 5%;
            margin-left: 5%;
            float: left;
        }

    }

    .email, .nome{
        color: #fff;
        margin-left: 5%;
    }

    ion-icon, button{
        color: color($colors, primary);
    }

}

///////////////////////////////////////////////// Personalização dos cards para indicar o status do atendimento

ion-card.danger
{
    border-top: 3px solid color($colors, danger);
}

ion-card.warning
{
    border-top: 3px solid color($colors, secondary);
}

ion-card.success
{
    border-top: 3px solid color($colors, primary);
}

//////////////////////////////////////////////////// Fixes
.fab-close-active .button-inner { transform: translateY(5px); }
// .fab-close-active .fab-close-icon { margin-top: 5px; }