<ion-menu [content]="content">
  <ion-content>

    <!-- Topo -->
    
    <div class="topo_menu">
      <ion-row>
        <ion-col col-12>
          <ion-avatar item-start>
            <img [src]="config.getFoto()" alt="">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div class="nome">{{ config.getUserName() }}</div>
          <div class="email">{{ config.getEmail() }}</div>
        </ion-col>
      </ion-row>
    </div>

    <!-- Menu -->

    <ion-list no-lines>
      <button *ngIf="estaLogado()" ion-item (tap)="goToPage('ChamadosPage')">
        <ion-icon item-start name="clipboard"></ion-icon>
        Minhas Solicitações
      </button>
      <button *ngIf="estaLogado()" ion-item (tap)="goToPage('EditarPerfilPage')">
          <ion-icon item-start name="person"></ion-icon>
          Editar Perfil
        </button>
      <button *ngIf="naoEstaLogado()" ion-item (tap)="goToPage('LoginPage')">
        <ion-icon item-start name="log-in"></ion-icon>
        Login
      </button>
      <button *ngIf="estaLogado()" ion-item (tap)="sair()">
        <ion-icon item-start name="log-out"></ion-icon>
        Sair
      </button>
      <button ion-item>
        <ion-icon item-start name="ion-pull-request"></ion-icon>
        Versão {{ config.versao }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content></ion-nav>
